---
import Text from "@/components/foundations/elements/Text.astro";
// Icons
import ChevronRight from "@/components/foundations/icons/ChevronRight.astro";

interface PostInput {
  slug: string;
  title: string;
  description: string;
  publishedAt: string;
  coverImage?: {
    assetUrl?: string;
    alt?: string;
  };
}

const post = Astro.props.post as PostInput;

const url = "/blog/" + post.slug;
const title = post.title;
const description = post.description;
const image = post.coverImage?.assetUrl || "";
const pubDate = new Date(post.publishedAt).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "2-digit",
});
---

<div
  class="BlogEntries2 relative overflow-hidden group flex h-full justify-between flex-col gap-12 bg-base-100 transition-all md:min-h-[100px] cursor-pointer shadow rounded-(--card-radius) p-(--card-padding) [--card-padding:--spacing(2)] [--card-radius:var(--radius-2xl)] hover:shadow-xl duration-500 border brand-border-color"
>
  <a href={url} title={title} class="absolute inset-0 z-10"></a>
  <div>
    {
      image && (
        <img
          src={image}
          alt={post.coverImage?.alt || title}
          width="1000"
          height="1000"
          loading="lazy"
          class="object-cover object-center aspect-12/9 rounded-[calc(var(--card-radius)-var(--card-padding))]"
        />
      )
    }
    <div class="mt-3 px-2 blog-card-content">
      <Text
        tag="p"
        variant="textXS"
        class="uppercase brand-text-color blog-card-date"
      >
        {pubDate}
      </Text>
      <Text
        tag="h3"
        variant="textLG"
        class="mt-2 font-medium brand-heading-color blog-card-title"
      >
        {title}
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-2 brand-text-color text-balance"
      >
        {description}
      </Text>
    </div>
  </div>
  <div class="px-2 pb-2">
    <Text
      tag="p"
      variant="textSM"
      class="flex items-center font-medium gap-2 brand-heading-color"
    >
      Read further
      <ChevronRight
        size="sm"
        class="duration-300 easy-out-in group-hover:translate-x-2"
      />
    </Text>
  </div>
</div>

<style>
  .blog-card-content {
    .blog-card-date {
      color: var(--color-base-400);
    }
    .blog-card-title {
      color: var(--color-tw-green);
    }
  }
</style>
