---
import { Image } from "astro:assets";
import Text from "@/components/foundations/elements/Text.astro";
// Icons
import ChevronRight from "@/components/foundations/icons/ChevronRight.astro";

// Content
const { url, title, description, pubDate, image } = {
  url: "/blog/posts/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  description: Astro.props.post.data.description,
  image: Astro.props.post.data.image.url,
  pubDate: new Date(Astro.props.post.data.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "2-digit",
  }),
};
---

<div class="BlogEntries1 relative overflow-hidden group py-8">
  <a href={url} title={title} class="absolute inset-0 z-10"></a>
  <div class="relative grid grid-cols-1 gap-8 lg:grid-cols-8">
    <Text tag="p" variant="textXS" class="uppercase text-base-500 ">
      {pubDate}
    </Text>
    <div class="lg:col-span-6">
      <Text tag="h3" variant="textBase" class=" font-medium text-base-900">
        {title}
      </Text>
      <Text
        tag="p"
        variant="textSM"
        class="mt-2 text-base-600  line-clamp-2"
      >
        {description}
      </Text>
    </div>
    <div class="mt-auto">
      <Text
        tag="p"
        variant="textSM"
        class="flex items-center font-medium gap-2 text-base-800"
      >
        Read further
        <ChevronRight
          size="sm"
          class="duration-300 easy-out-in group-hover:translate-x-2"
        />
      </Text>
    </div>
  </div>
</div>
