---
import Text from "@/components/foundations/elements/Text.astro";
// Icons
import ChevronRight from "@/components/foundations/icons/ChevronRight.astro";

interface PostInput {
  slug: string;
  title: string;
  description: string;
  publishedAt: string;
}

const post = Astro.props.post as PostInput;

const url = "/blog/" + post.slug;
const title = post.title;
const description = post.description;
const pubDate = new Date(post.publishedAt).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "2-digit",
});
---

<div class="BlogEntries1 relative overflow-hidden group py-8">
  <a href={url} title={title} class="absolute inset-0 z-10"></a>
  <div class="relative grid grid-cols-1 gap-8 lg:grid-cols-8">
    <Text tag="p" variant="textXS" class="uppercase brand-text-color">
      {pubDate}
    </Text>
    <div class="lg:col-span-6">
      <Text tag="h3" variant="textBase" class="font-medium brand-heading-color">
        {title}
      </Text>
      <Text tag="p" variant="textSM" class="mt-2 brand-text-color line-clamp-2">
        {description}
      </Text>
    </div>
    <div class="mt-auto">
      <Text tag="p" variant="textSM" class="flex items-center font-medium gap-2 brand-heading-color">
        Read further
        <ChevronRight size="sm" class="duration-300 easy-out-in group-hover:translate-x-2" />
      </Text>
    </div>
  </div>
</div>
