---
// Assets
import LimeStripeSvg from "@/components/assets/LimeStripeSvg.astro";
import { Code } from "astro:components";
import VisualAsset1 from "@/components/assets/VisualAsset1.astro";
// Fundations
import Link from "@/components/foundations/elements/Link.astro";
import Text from "@/components/foundations/elements/Text.astro";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
// Icons
import ChevronRight from "@/components/foundations/icons/ChevronRight.astro";
// Utils
import { convertLineBreaksToHtml } from "@/utils/text";

interface Props { feature?: import("@/data/sanity").Hero }
const { feature } = Astro.props as Props;

const header = feature?.header || "Powerful financial APIs for tech innovators";
const subheading = feature?.subheading || "Seamless, scalable infrastructure for managing funds store, transfer, and reconcile money with ease.";

// Convert line breaks to HTML for proper rendering
const headerHtml = convertLineBreaksToHtml(header);
const subheadingHtml = convertLineBreaksToHtml(subheading);

const primaryLabel = feature?.primaryCtaLabel;
const primaryHref = feature?.primaryCtaHref;

const secondaryLabel = feature?.secondaryCtaLabel;
const secondaryHref = feature?.secondaryCtaHref;

const gradientFromColor = feature?.gradientFromColor || "oklch(90.07% 0.21 98.27)";
const gradientToColor = feature?.gradientToColor || "oklch(66.98% 0.2236 43.225)";
---

<section class="hero-1 relative">
  <Wrapper
    variant="standard"
    class="relative py-32"
  >
  <LimeStripeSvg
    fromColor={gradientFromColor}
    toColor={gradientToColor}
    customClasses="absolute inset-0 size-full pointer-events-none scale-100 top-1/2 rotate-x-200 z-0"
  />
  <div class="relative">
      <Text
        tag="h1"
        variant="display2XL"
        data-aos="fade-up"
        data-aos-duration="1000"
        class="font-semibold font-display brand-heading-color text-balance uppercase"
        set:html={headerHtml}
      />
      <Text
        tag="p"
        variant="textLG"
        data-aos="fade-up"
        data-aos-duration="1500"
        class="max-w-lg mt-4 font-medium brand-text-color md:text-balance"
        set:html={subheadingHtml}
      />
      <div
        data-aos="fade-up"
        data-aos-duration="2000"
        class="flex items-center mt-12 gap-2"
      >
        {primaryLabel && primaryHref && (
          <Link
            size="base"
            variant="default"
            href={primaryHref}
            gap="xs"
            class="group"
          >
            {primaryLabel}
            <ChevronRight
              size="sm"
              class="duration-300 easy-out-in group-hover:translate-x-2"
            />
          </Link>
        )}
        {secondaryLabel && secondaryHref && (
          <Link
            size="base"
            variant="muted"
            href={secondaryHref}
            gap="xs"
            class="group"
          >
            {secondaryLabel}
            <ChevronRight
              size="sm"
              class="duration-300 easy-out-in group-hover:translate-x-2"
            />
          </Link>
        )}
      </div>
    </div>
  </Wrapper>
  <Wrapper variant="standard" class="py-24">
    <div
      class="items-start -mt-40 grid grid-cols-1 gap-12 lg:grid-cols-2 lg:gap-24"
    >
    {feature?.heroImages?.[0]?.assetUrl && (
      <img src={feature?.heroImages?.[0]?.assetUrl} alt={feature?.heroImages?.[0]?.alt || ""} class="h-full rounded-xl border-0 shadow-xl aspect-[5/3] object-cover z-1" data-aos="fade-up" data-aos-duration="1500" />
    )}
    {feature?.heroImages?.[1]?.assetUrl && (
      <img src={feature?.heroImages?.[1]?.assetUrl} alt={feature?.heroImages?.[1]?.alt || ""} class="h-full rounded-xl border-0 shadow-xl aspect-[5/3] object-cover z-1" data-aos="fade-up" data-aos-duration="2500" />
    )}

    </div>
  </Wrapper>
</section>
