---
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
import Text from "@/components/foundations/elements/Text.astro";
import Button from "@/components/foundations/elements/Button.astro";
import LucideIcon from "@/components/foundations/icons/LucideIcon.astro";
import type { ContactFormSection } from "@/data/sanity";

interface Props { feature?: ContactFormSection }
const { feature } = Astro.props as Props;

if (!feature) {
  console.error("ContactForm component received no feature data.");
  // Render a fallback or throw an error if no feature data is provided
  // For now, we'll just return, which means nothing will render.
  // In a real application, you might want a more user-friendly fallback.
  // return Astro.redirect("/404"); // Or render a default message
}

const contactForm = feature;
---

{contactForm && (
  <section class="overflow-hidden relative">
    <Wrapper variant="standard" class="py-12 lg:py-24 relative">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-24">
        <div class="lg:text-balance text-center lg:text-left">
          {contactForm.tagline && (
            <Text
              variant="textXS"
              data-aos="fade-down"
              data-aos-duration="1000"
              class="flex items-center font-medium uppercase brand-text-color gap-2"
            >
              {contactForm.taglineIcon && (
                <LucideIcon name={contactForm.taglineIcon} size="sm" class="orange" />
              )}
              {contactForm.tagline}
            </Text>
          )}
          {contactForm.headline && (
            <Text
              variant="displayXL"
              data-aos="fade-up"
              data-aos-duration="1000"
              class="font-semibold uppercase font-display brand-heading-color lg:text-balance mt-8"
            >
              {contactForm.headline}
            </Text>
          )}
          {contactForm.description && (
            <Text
              tag="p"
              variant="textBase"
              data-aos="fade-up"
              data-aos-duration="1500"
              class="mt-4 font-medium brand-text-color md:text-balance"
            >
              {contactForm.description}
            </Text>
          )}
          {contactForm.supportLinks && contactForm.supportLinks.length > 0 && (
            <div
              data-aos="fade-up"
              data-aos-duration="2000"
              class="flex flex-col mt-12 gap-2"
            >
              {contactForm.supportLinks.map((link) => (
                <Text
                  tag="a"
                  variant="muted"
                  href={link.href || "#"}
                  target={link.href ? "_blank" : "_self"}
                  class="brand-text-color duration-300 flex items-center gap-2"
                >
                  <LucideIcon name={link.icon} size="sm" class="orange"/>
                  {link.label}
                </Text>
              ))}
            </div>
          )}
        </div>
        <form name="contact" method="POST" data-netlify="true" action="#">
          <input type="hidden" name="form-name" value="contact" />
          <div class="flex flex-col gap-y-4">
            <div>
              <label class="text-sm leading-normal brand-text-color font-medium">
                Name
              </label>
              <div class="mt-2.5">
                <input
                  type="text"
                  name="name"
                  id="name"
                  required
                  placeholder="Your name"
                  class="block w-full h-10 px-4 py-2 text-sm brand-text-color border brand-border-color rounded-lg appearance-none duration-300 bg-base-100 placeholder-base-400 focus:bg-base-100 focus:outline-none focus:ring-teal-500 focus:ring-offset-2 focus:ring-2 focus:ring-offset-base-200"
                />
              </div>
            </div>

            <div>
              <label class="text-sm leading-normal brand-text-color font-medium">
                Email
              </label>
              <div class="mt-2.5">
                <input
                  type="email"
                  name="email"
                  id="email"
                  required
                  placeholder="Your email"
                  class="block w-full h-10 px-4 py-2 text-sm brand-text-color border brand-border-color rounded-lg appearance-none duration-300 bg-base-100 placeholder-base-400 focus:bg-base-100 focus:outline-none focus:ring-teal-500 focus:ring-offset-2 focus:ring-2 focus:ring-offset-base-200"
                />
              </div>
            </div>

            <div>
              <label class="text-sm leading-normal brand-text-color font-medium">
                Phone Number
              </label>
              <div class="mt-2.5">
                <input
                  type="tel"
                  name="phone"
                  id="phone"
                  placeholder="Your phone number"
                  class="block w-full h-10 px-4 py-2 text-sm brand-text-color border brand-border-color rounded-lg appearance-none duration-300 bg-base-100 placeholder-base-400 focus:bg-base-100 focus:outline-none focus:ring-teal-500 focus:ring-offset-2 focus:ring-2 focus:ring-offset-base-200"
                />
              </div>
            </div>

            <div>
              <label class="text-sm leading-normal brand-text-color font-medium">
                Company Site
              </label>
              <div class="mt-2.5">
                <input
                  type="url"
                  name="company-site"
                  id="company-site"
                  placeholder="https://yourcompany.com"
                  class="block w-full h-10 px-4 py-2 text-sm brand-text-color border brand-border-color rounded-lg appearance-none duration-300 bg-base-100 placeholder-base-400 focus:bg-base-100 focus:outline-none focus:ring-teal-500 focus:ring-offset-2 focus:ring-2 focus:ring-offset-base-200"
                />
              </div>
            </div>

            <div>
              <label class="text-sm leading-normal brand-text-color font-medium">
                Message
              </label>
              <div class="mt-2.5">
                <textarea
                  name="message"
                  id="message"
                  rows="5"
                  required
                  placeholder="Your message..."
                  class="block w-full px-4 py-2 text-sm brand-text-color border brand-border-color rounded-lg appearance-none duration-300 bg-base-100 placeholder-base-400 focus:bg-base-100 focus:outline-none focus:ring-teal-500 focus:ring-offset-2 focus:ring-2 focus:ring-offset-base-200 resize-none"
                ></textarea>
              </div>
            </div>

            <Button type="submit" size="lg" variant="default" class="w-full cursor-pointer">
              Submit
            </Button>
          </div>
        </form>
      </div>
    </Wrapper>
  </section>
)}
<style>
  .support-links a:hover {
    color: var(--heading-text-color);
  }
</style>