---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/foundations/elements/Text.astro";
import Link from "@/components/foundations/elements/Link.astro";
// Icons
import ChevronRight from "@/components/foundations/icons/ChevronRight.astro";
// Content
const { page, description, pubDate, image, url } = {
  url: "/changelog/" + Astro.props.post.slug,
  page: Astro.props.post.data.page,
  image: Astro.props.post.data.image.url,
  description: Astro.props.post.data.description,
  pubDate: new Date(Astro.props.post.data.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "2-digit",
  }),
};
---

<div
  data-aos="fade-up"
  data-aos-duration="1500"
  class="relative pt-8 overflow-hidden bg-white shadow lg:pt-12 rounded-3xl group"
>
  <a href={url} title={page} aria-label={page} class="absolute inset-0"></a>
  <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 realtive">
    <div class="p-8 pt-0 lg:p-12 lg:pt-0">
      <Text
        class="span"
        variant="textXS"
        data-aos="fade-down"
        data-aos-duration="1000"
        class="flex items-center font-medium uppercase text-base-600 gap-2"
      >
        {pubDate}
      </Text>
      <Text
        tag="h3"
        variant="textXL"
        data-aos="fade-up"
        data-aos-duration="1000"
        class="mt-8 font-semibold tracking-tight text-base-800 md:text-balance"
      >
        {page}
      </Text>
      <Text
        tag="p"
        variant="textBase"
        data-aos="fade-up"
        data-aos-duration="1500"
        class="mt-8 text-base text-base-500"
      >
        {description}
      </Text>
      <Text
        tag="p"
        variant="textSM"
        class="flex items-center gap-2 mt-4 font-medium text-base-800"
      >
        See update
        <ChevronRight
          size="sm"
          class="duration-300 easy-out-in group-hover:translate-x-2"
        />
      </Text>
    </div>
    <div
      class="flex h-full size-full aspect-16/8 shrink-0 items-center justify-center rounded-t-2xl overflow-hidden shadow-lg lg:rounded-tr-none"
    >
      <Image
        src={image}
        alt={page}
        width={600}
        height={600}
        class="object-cover object-center"
      />
    </div>
  </div>
</div>
