---
// Assets
import { Image } from "astro:assets";
import LimeStripe from "@/images/assets/LimeStripe.png";
// Widgets
import Chat from "@/components/widgets/Chat.astro";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/foundations/elements/Text.astro";
import Button from "@/components/foundations/elements/Button.astro";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";

// Icons
import User from "@/components/foundations/icons/User.astro";
import Clock from "@/components/foundations/icons/Clock.astro";
import Brain from "@/components/foundations/icons/Brain.astro";
import Tools from "@/components/foundations/icons/Tools.astro";
import Phone from "@/components/foundations/icons/Phone.astro";
import Search from "@/components/foundations/icons/Search.astro";
import Settings from "@/components/foundations/icons/Settings.astro";
import ChevronRight from "@/components/foundations/icons/ChevronRight.astro";
import QuestionMark from "@/components/foundations/icons/QuestionMark.astro";
// Icons
const data = [
  {
    icon: "QuestionMark",
    url: "/helpcenter/home",
    category: "Help Center",
    text: "Find all questions and answers about our services and features.",
    buttonText: "Visit Help Center",
  },
  {
    icon: "Clock",
    url: "/changelog/home",
    category: "Changelog",
    text: "Find all the latest updates and changes, including new features and improvements.",
    buttonText: "Follow updates",
  },
  {
    icon: "Settings",
    url: "/forms/contact",
    category: "Support",
    text: "Reach out to support, submit a ticket, or get help with your account.",
    buttonText: "Contact Support",
  },
  {
    icon: "User",
    actionType: "button",
    buttonId: "chat-toggle",
    category: "Live chat 24/7",
    text: "We're here 24/7—ask us anything, connect with a support agent instantly.",
    buttonText: "Talk to us now!",
  },
  {
    icon: "Phone",
    actionType: "link",
    url: "phone:tel:+123456789",
    category: "Contact us",
    text: "Have a question or need assistance? Reach out to our dedicated support team.",
    buttonText: "Call us",
  },
];
---

<BaseLayout>
  <section class="overflow-hidden relative">
    <Chat class="fixed bottom-5 right-5" />
    <Wrapper variant="standard" class="py-12 lg:pt-32 relative overflow-hidden">
      <Image
        src={LimeStripe}
        alt="Lime Stripe"
        class="absolute inset-0 size-full pointer-events-none scale-220 rotate-x-180 top-100"
      />

      <div class="relative">
        <Text
          class="span"
          variant="textXS"
          data-aos="fade-down"
          data-aos-duration="1000"
          class="flex items-center font-medium uppercase gap-2 text-base-600"
        >
          <Brain size="sm" class="text-yellow-600" />
          Knowledge Base
        </Text>
        <Text
          tag="h1"
          variant="display2XL"
          data-aos="fade-up"
          data-aos-duration="1000"
          class="mt-8 font-semibold tracking-tighter text-base-800 lg:text-balance"
        >
          Banking knowledge hub learn, manage, grow
        </Text>
        <Text
          tag="p"
          variant="textLG"
          data-aos="fade-up"
          data-aos-duration="1500"
          class="max-w-lg mt-4 font-medium text-base-800 md:text-balance"
        >
          Access expert guides, financial insights, and security tips to manage
          your finances with confidence in the digital age.
        </Text>
      </div>
    </Wrapper>
    <Wrapper variant="standard" class="py-12 border-t border-base-200">
      <dl
        data-aos="fade-up"
        data-aos-duration="2000"
        class="grid grid-cols-1 gap-4 sm:grid-cols-4 gap-y-8"
      >
        {
          data.map((section) => (
            <div class="flex flex-col justify-between h-full gap-12 group">
              <div>
                <dt class="flex items-center gap-2 text-base-800">
                  {section.icon === "Settings" && <Settings size="base" />}
                  {section.icon === "Clock" && <Clock size="base" />}
                  {section.icon === "Tools" && <Tools size="base" />}
                  {section.icon === "Search" && <Search size="base" />}
                  {section.icon === "QuestionMark" && (
                    <QuestionMark size="base" />
                  )}
                  {section.icon === "User" && <User size="base" />}
                  {section.icon === "Phone" && <Phone size="base" />}
                  <Text tag="h3" variant="textBase" class="font-medium ">
                    {section.category}
                  </Text>
                </dt>
                <dd class="mt-2">
                  <Text tag="p" variant="textSM" class=" text-base-500">
                    {section.text}
                  </Text>
                </dd>
              </div>
              {section.actionType === "button" ? (
                <div class="flex">
                  <Button id={section.buttonId} size="xs" variant="muted">
                    {section.buttonText}
                  </Button>
                </div>
              ) : (
                <Text
                  href={section.url}
                  tag="a"
                  variant="textSM"
                  class="flex items-center font-medium gap-2 text-base-800 group"
                >
                  {section.buttonText}
                  <ChevronRight
                    size="sm"
                    class="duration-300 easy-out-in group-hover:translate-x-2"
                  />
                </Text>
              )}
            </div>
          ))
        }
      </dl>
    </Wrapper>
  </section>
</BaseLayout>
