---
// Foundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
// Components
import BlogEntries2 from "@/components/blog/BlogEntries2.astro";
// Data
import { fetchAllBlogPosts } from "@/data/sanity/fetch";
import { uniqueTagOptions } from "@/utils/tags";

const allPosts = await fetchAllBlogPosts();
const tags = uniqueTagOptions(allPosts.flatMap((post) => post.tags || []));
---

<BaseLayout>
  <!-- <section>
    <Wrapper variant="standard" class="border-t brand-border-color">
      <div class="flex items-center gap-2">
        <BlogSearch posts={allPosts} />
        <div class="tags relative flex gap-2 h-full px-2 py-2 overflow-x-scroll scrollable-content snap-x snap-proximity scrollbar-hide">
          {tags.map((tag) => (
            <Text
              tag="a"
              variant="textSM"
              title={tag.label}
              aria-label={tag.label}
              href={`/blog/tags/${tag.slug}`}
              class="capitalize brand-text-color"
            >
              {tag.label}
            </Text>
          ))}
        </div>
      </div>
    </Wrapper>
  </section> -->

  <section>
    <Wrapper variant="standard" class="py-4 brand-border-color">
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
        {allPosts.map((post) => <BlogEntries2 post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
